# STM32CubeIDE/Eclipse workspace settings
.metadata/*
**/.settings/**
*.launch
*.log

# Build artifacts
**/Debug/
**/Release/
**/Debug-*/
**/Release-*/

**/.vscode/**
*.elf
*.bin
*.hex
*.map
*.o
*.d

# Backup and autosave files
*~
*.swp

CMakeCache.txt
CMakeFiles/*

